[submodule "backend"]
	path = backend
	url = https://github.com/TSanchezMaiquez/BOOTCAMP-PRKREITEFY-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/TSanchezMaiquez/BOOTCAMP-PRKREITEFY-frontend.git
